/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Estilos para el botón de agregar */
button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button a {
    text-decoration: none;
    color: white;
}

button:hover {
    background-color: #45a049;
}

/* Estilos para la tabla de usuarios */
.tabla {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.tabla th,
.tabla td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

.tabla th {
    background-color: #4CAF50;
    color: white;
}

.tabla tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Estilos para los botones de modificar y eliminar */
.boton_tabla {
    background-color: #f44336;
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
}

.boton_tabla:hover {
    background-color: #da190b;
}
