/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Estilos para la barra de navegación */
nav {
    background-color: #333;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

/* Estilos para el formulario */
.form-container {
    margin-bottom: 20px;
}

.formulario label {
    display: block;
    margin-bottom: 5px;
}

.formulario input[type="text"],
.formulario input[type="number"],
.formulario select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.formulario input[type="file"] {
    margin-top: 10px;
}

.buttons {
    text-align: center;
}

.reset-button {
    margin-left: 10px;
}

/* Estilos para la tabla de productos */
.table-container {
    overflow-x: auto;
}

.tabla {
    width: 100%;
    border-collapse: collapse;
}

.tabla th,
.tabla td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

.tabla th {
    background-color: #f2f2f2;
}

.boton_tabla {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.boton_tabla:hover {
    background-color: #45a049;
}
