/* Estilos para el título */
h1 {
    text-align: center;
}

/* Estilos para la navegación */
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #007bff;
    text-decoration: none;
}

/* Estilos para el botón de cierre de sesión */
button {
    display: block;
    margin: 20px auto;
}
